In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/kazi0302/Desktop/COVID_19_Statistics_San_Diego_County__ARCHIVED_.csv')

In [3]:
df.head()

,FID,age10_19,age20_29,age30_39,age40_49,age50_59,age60_69,age70_79,age80_plus,age_9,...,globalid,hospitalized,icu,newcases,newtests,point,positives,rolling_perc_pos_cases,tests,Comments
0,608,55471.0,103234.0,85890.0,65813.0,57229.0,36575.0,16748.0,11148.0,33281.0,...,{4FAD972C-78DC-4ECB-876A-DA8D455CB75F},19288.0,1951.0,8204,24730.0,POINT (-116.73502667320152 33.033834171079505),465607,18.063069,8537256.0,NaN
1,607,49596.0,92688.0,77076.0,58976.0,52175.0,33757.0,15635.0,10587.0,29419.0,...,{B99558B7-1B1E-4FE1-9976-DCC2BE0CE344},19058.0,1949.0,3653,28472.0,POINT (-116.73502667320152 33.033834171079505),420089,8.072264,8356092.0,NaN
2,606,47659.0,87886.0,73610.0,56693.0,50518.0,32871.0,15287.0,10431.0,28232.0,...,{E500A748-D3BD-40EB-82A0-D3C623F0883D},18982.0,1942.0,1856,25714.0,POINT (-116.73502667320152 33.033834171079505),403358,4.311457,8195818.0,NaN
3,605,46797.0,85930.0,71986.0,55704.0,49773.0,32403.0,15107.0,10349.0,27511.0,...,{387858C3-7DDA-49CC-8F50-B6D944A45720},18866.0,1938.0,646,21767.0,POINT (-116.73502667320152 33.033834171079505),395723,3.445440,8056746.0,NaN
4,604,46107.0,85134.0,71009.0,55077.0,49218.0,32068.0,14946.0,10275.0,26948.0,...,{72A1F3B2-4F56-4516-83E7-9D47F210D62F},18729.0,1926.0,562,18673.0,POINT (-116.73502667320152 33.033834171079505),390947,3.471782,7912248.0,NaN